body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.login-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

.saudacao {
    text-align: left;
}

.logout {
    text-align: right;
}

.logout button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.logout button:hover {
    background-color: #c9302c;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #333;
}

.menu li:hover > a {
    background-color: #555;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.dropdown-menu li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

